<div class='admin-container'>
  
  <header>
    <h1>Welcome to Sehara, Ladies!</h1>
    <p>Everything you see is for your eyes only, and this dashboard will help you a ton with scaling your business</p>
    <h2>Click one of the sections to get started</h2>
  </header>

  <section>
    <div>
      <h1>Orders<h1>
    </div>
    <div>
      <h1>Customers</h1>
    </div>
    <div>
      <h1>Inventory</h1>
    </div>  
  </section>


</div>

