<div class='admin-container'>
  
  <header>
    <h1>Welcome to Sehara, Ladies!</h1>
    <h2>Everything you see is for your eyes only, and this dashboard will help you a ton with scaling your business.  Click one of the sections below to get started...</h2>
  </header>

  <section id="dashboard">
    <div>
      <h1>Orders</h1>
      <p>You can find all of your orders here for any product that Sehara offers.</p>
    </div>
    <div>
      <h1>Customers</h1>
      <p>This is a log of all of your customers, so you can keep tabs on them and help them grow your business</p>
    </div>
    <div>
      <h1>Inventory</h1>
      <p>This will help you keep your business on track.  By figuring out how much product we use for a particular product we can keep constant tabs on how much of a particular inventory you have so there is never a shortfall.
    </div>
    <div>
      <h1>Issues</h1>
      <p>This will be the hub of commnunication between the team.  At first, it will mainly be for me.  You guys will create issues, mostly tech, for me and I will work to fix and close them.  As the business grows there could be a ton more uses for them.</p>  
  </section>


</div>

