<%= render partial: "layouts/admin_nav" %>

<div class='admin-container'>
  
  <header>
    <h1>Welcome to Sehara, Ladies!</h1>
    <h2>Everything you see is for your eyes only, and this dashboard will help you a ton with scaling your business.  Click one of the sections below to get started...</h2>
  </header>

  <section id="dashboard">
    <div>
      <h1>Orders</h1>
      <i class="flaticon-credit29"></i>
    </div>
    <div>
      <h1>Customers</h1>
      <i class="flaticon-users6"></i>
    </div>
    <div>
      <h1>Inventory</h1>
      <i class="flaticon-coins24"></i>
    </div>
    <div>
      <h1>Issues</h1>
      <i class="flaticon-three115"></i>  
  </section>

</div>

