<%= render partial: "layouts/admin_nav" %>

<div class="admin-container orders">
  
  <h1>Create a new order</h1>

  <%= form_for [:admin, @order] do |f| %>

    <%= render partial: "admin/orders/form", locals: { order: @order, f: f } %>
  
    <%= f.submit "Create Order" %>

  <% end %>
</div>