<div id="opening_header">
  <header>
    <h1 id="title">Sehara Design</h1>
    <h2>A WEDDING BOUTIQUE</h2>
  </header>

  <section class="banner">
    <ul>
      <li>
        <h2>SPECIALIZING IN ORTHODOX GREEK CROWNS</h2>
        <p>Beautifully handcrafted from the highest quality materials<br> assuring they will be everlasting keepsakes.</p>
      </li>
      <li>
        <h2>USING HAND CRAFTED ORNATE DESIGN</h2>
        <p>From the first piece of wire to the very last pearl,<br> we strive for perfection in every pair of crowns we create.</p>
      </li>
      <li>
        <h2>FIT FOR A GODDESS</h2>
        <p>You’re our top priority. It's that simple. Click below to get started.</p>
      </li>
    </ul>
  </section>

  <%= link_to "Let's Get Started",  

</div>
