.orders {
  color: black;
  width: 90%;
}

.orders ul {
  text-align: left;
  border-bottom: 1px solid darkgrey;
  padding: 0;
}

.orders li {
  display: inline-block;
  width: 15%;
  padding: 1% 0;
  text-align: center;
}

.orders a:link {
  color: darkgrey;
}

.orders a:visited {
  color: darkgrey;
}

.orders a:hover {
  color: #2a9d0d;
}

.orders label {
  font-size: 1.250em;
  width: 30%;
  text-align: left;
}

.orders input, select {
  display: block;
}