.container {
  background-color: #f7faf9;
  width: 90%;
  min-height: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10%;
}

.container h1 {
  font-size: 3.500em;
  color: #3232ff;
  font-weight: 900;
  padding-top: 3%;
}

.container p {
  padding: 2% 10%;
}

html, body {
  height: 100%;
}

img {
  width: 75%;
}

.tab {
    display: none;
}
.tabs {
    /*float: left;*/
    border-bottom: 1px solid #ccc;
    /*width: 100%;*/
    margin: 5% auto;
    list-style: none;
}
.tabs li {
/*    float: left;*/
    display: inline-block;
    margin-right: 16px;
    padding: 10px 15px;
    height: 30px;
    line-height: 30px;
}
.tabs li a {
    font-size: 1.750em;
    color: #666;
    font-family: Poiret One, Arial, sans-serif;
    text-decoration: none;
}

.tabs li.active {
    border: 1px solid #ccc;
    border-bottom: 1px solid white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-bottom: -1px;
    height: 31px;
    padding: 9px 14px;
}

.tabs li.active a {
    color: black;
    text-decoration: none;
    border-bottom: none;
}

