<section class="light-container" id="about">
  
  <h1>A Message from the Founders</h1>

  <blockquote>
    Sehara Design was inspired by our years of friendship and desire to fulfill our passion for creating beautiful things.  Our professional experience along with our heritage and combined talents, create this distinctive collection of hand-made keepsakes for the Bride and Groom.
    <h2>-- Eva and Carol</h2>
  </blockquote>

  <%= image_tag "https://s3-us-west-2.amazonaws.com/sehara/other/founders.jpg" %>

  <div>
    <h2>Carol Stewart</h2>
    <p>Carol has worked in a design-oriented environment her entire career.   After taking a hiatus from a previous venture with Eva in the flower shop industry, she has most recently lent her talents to positions in residential construction and interior design.</p>
    <p>Carol’s entrepreneurial spirit and desire to create propelled her to rekindle her partnership with Eva. The word 'excited' would be an understatement for how she feels about this new venture, as bridal design has always been an area of passion.</p>
  </div>
  
  <div>
    <h2>Eva Elderkin</h2>
    <p>Eva started working as a floral designer at the age of sixteen. What began as an interest blossomed into a career.  From curating as a private residential florist to serving as a lead designer at Mt. Lebanon Floral, she has excelled in almost every niche of the floral industry.</p>

    <p>Eva’s design expertise extends beyond flowers. She estimates she has created over 100 Greek wedding crowns and candles for friends and family over the years and she’s elated to be able to share her designs with a wider audience.</p>
  </div>

</section>