<div id="admin-nav">

  <ul>
    <span>Sehara Design</span>
    <li><%= link_to "Dashboard", admin_index_path %><li>
    <li><%= link_to "Orders", admin_orders_path %></li>
    <li><%= link_to "Customers", admin_customers_path %></li>
    <li>Inventory</li>
    <li><%= link_to "Issues", admin_issues_path %></li>
  </ul>

</div>