<div id="admin-nav">
  <ul>
    <%= link_to admin_index_path do %>
      <i class="flaticon-dwelling1"></i>
    <% end %>
    <li><%= link_to "Orders", admin_orders_path %></li>
    <li>Customers</li>
    <li>Inventory</li>
    <li>Issues</li>
  </ul>

</div>