<header id="opening_header">
  <section class="banner">
    <% if flash[:success] %>
      <%= content_tag :p, flash[:success], class: "flash-hash" %>
    <% end %>
    <h2>A WEDDING BOUTIQUE</h2>
    <ul class="bxslider">
      <li>
        <h2>SPECIALIZING IN ORTHODOX<br>GREEK CROWNS</h2>
        <p>Beautifully handcrafted from the highest quality materials<br> assuring they will be everlasting keepsakes.</p>
      </li>
      <li>
        <h2>USING HAND-CRAFTED,<br>ORNATE DESIGN</h2>
        <p>From the first piece of wire to the very last pearl,<br> we strive for perfection in every pair of crowns we create.</p>
      </li>
      <li>
        <h2>FIT FOR A GODDESS</h2>
        <p>You’re our top priority. It's that simple.<br>Scroll down to get started.</p>
      </li>
    </ul>
  </section>
</header>