<div class="nav">
  <ul>
    <li><%= link_to "Sehara Design", products_path %></li>
    <li>About Us</li>
    <li>Our Reviews</li>
    <li>Our Process<li>
  </ul>

  
    <i class="flaticon-pinterest10"></i>
    <span class="flaticon-yelp6"></span>

  

</div>